/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: 10;
   
  & + table {
    margin-top: 0em;
  }
}

thead {
  background-color: $lighter-gray;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  font-size: 12;
}

td {
  padding: 0 0.3em 0 0.7em;
  text-align: left;
}

td, tr, th {
  vertical-align: top;
}
